/* src/App.css */

/* ...estilos existentes... */

input {
  padding: 8px;
  margin: 10px 0;
  font-size: 16px;
}

button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.selected {
  border: 2px solid #007bff;
}

/* Estilos del carrusel */
.carousel-container {
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px;
}

.carousel {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  max-width: 100%;
  height: 200px; /* Ajusta el alto fijo según tus necesidades */
}

.carousel-row {
  display: flex;
  flex-wrap: nowrap;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.carousel-item {
  scroll-snap-align: start;
  flex: 0 0 auto;
  margin-right: 10px;
  width: 200px; /* Ajusta el ancho fijo según tus necesidades */
  height: 180px; /* Ajusta el alto fijo según tus necesidades */
}

.carousel-item img {
  max-width: 100%;
  height: 100%;
  cursor: pointer;
  border: 2px solid transparent;
}

.carousel-item img.selected {
  border-color: #007bff;
}

.pagination {
  display: flex;
  justify-content: center;
}

.pagination button {
  margin: 0 5px;
}